.news {
  color: red;
  font-size: 25px;
}

.card-title a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.tetx-footer p,
a {
  text-decoration: none;
}

.card-header {
  font-weight: bold;
}

.content-bawah a {
  font-size: 12px;
  font-weight: normal;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

.card-text {
  font-size: 12px;
}

.nav-item {
  color: white;
}
